{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/socicon.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all"/>
    
</head>
<body data-smooth-scroll-offset="77">
<div class="nav-container">
    <div class="via-1510582659285" via="via-1510582659285" vio="Home Menu">
        <nav id="menu1" class="bar bar-1 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <div class="bar__module">
                            <a href="{% url 'index' %}"> <img class="logo logo-dark" alt="logo"
                                                       src="{% static 'img/clublife-icon.png' %}"> <img
                                    class="logo logo-light" alt="logo" src="{% static 'img/logo-light.png' %}"> </a>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <!-- <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li> <a href="#como-funciona" class="inner-link" target="_self">como funciona</a> </li>
                                <li> <a href="#pilares" class="inner-link" target="_self">pilares</a> </li>
                                <li> <a href="{% url 'contact' %}">contato</a> </li>
                            </ul>
                        </div> -->
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" onclick="javascript:history.go(-1);" "> <span class="btn__text">voltar</span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="main-container">    
    <section class="switchable space--xs bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Política de Privacidade Clube Life<p></h2>
                    <p>O Clube Life reconhece a importância da privacidade para os nossos associados e sabemos que ela deve ser trabalhada com base na confiança e credibilidade de nossa marca. Dessa maneira, nos esforçamos para gerir a sua informação pessoal de acordo com a crença de respeito pelas pessoas.</p>
                    <p>Esta Política de Privacidade descreve:
                    <ul style="list-style-type:disc; margin-left: 40px">
                        <li>Por que coletamos suas informações pessoais;</li>
                        <li>Quais tipos de informações são coletadas;</li>
                        <li>Quando e com quem compartilhamos suas informações;</li>
                        <li>As escolhas que você pode fazer sobre a maneira como coletamos, usamos e compartilhamos suas informações.</li>                            
                    </ul>
                    </p>
                    <p></p>
                    <p><b>Por que coletamos informações pessoais?</b></p>
                    <p>Nós utilizamos suas informações pessoais para oferecer a você produtos e serviços, bem como garantir o atendimento às suas solicitações, nos ajudar a personalizar nosso atendimento e melhorar sua experiência de compra e como associado.</p>
                    <p>Nós também utilizamos suas informações pessoais para suportar nosso negócio, como prevenção de fraudes, marketing e atendimento a obrigações legais.</p>
                    <p></p>
                    <p><b>Quais os tipos de informações pessoais coletadas?</b></p>
                    <p>Nós só coletamos as informações que recebemos de você.</p>
                    <p>Você compartilha informações conosco de várias maneiras ao utilizar o nosso site, por exemplo:
                        <ul style="list-style-type:disc; margin-left: 40px">
                            <li>Através de “cookies”;</li>
                            <li>Participa de alguma pesquisa ou promoção;</li>
                            <li>Contata nosso Suporte;</li>
                            <li>Faz uma avaliação ou comentário em nossas redes sociais.</li>                             
                        </ul>
                    </p>
                    <p>Diferentes tipos de interação geram o compartilhamento de diferentes tipos de informações pessoais, tais como, nome, endereço de e-mail, cep do endereço residencial, número de telefone, data de nascimento, endereço IP, dados de navegação, entre outros.</p>
                    <p></p>
                    <p><b>Como nós transferimos suas informações pessoais?</b></p>
                    <p>Nós não vendemos, cedemos ou alugamos suas informações pessoais. Nós podemos compartilhar suas informações pessoais em circunstâncias limitadas para conduzir nossos negócios, quando legalmente requeridas ou com seu consentimento.</p>
                    <p>Nós não iremos compartilhar suas informações pessoais para fora da nossa empresa, exceto nas seguintes circunstâncias:</p>
                    <ul style="list-style-type:disc; margin-left: 40px">
                        <li>
                            <strong>Prestadores de serviços</strong>
                            <p>Nós podemos compartilhar informações pessoais de associados com empresas que prestam serviço para o Clube Life ou diretamente para nossos associados (em nome do Clube Life ou não) como, transportadoras, processadores de cartões de pagamento e outras empresas que nos ajudam a melhorar nossos produtos e serviços. Estes fornecedores não são autorizados a usar ou compartilhar suas informações pessoais para qualquer finalidade que não promover serviços para o Clube Life. Estes fornecedores são requeridos a manter suas informações pessoais de forma segura. Suas informações pessoais podem ser armazenadas e processadas por prestadores de serviço no Brasil ou outras localidades onde estes prestadores ou o Clube Life possuam uma unidade de negócio.</p>
                            <p></p>
                        </li>
                        <li>
                            <strong>Requisições legais e proteção do Clube Life e terceiros</strong>
                            <p>Nós poderemos compartilhar suas informações em situações especiais, tais como, por requerimento judicial ou obrigação legal, ou quando necessário para proteger a segurança, propriedade ou direitos do Clube Life, nossos associados, nossos associados ou de terceiros. Alguns exemplos destas situações são:Nós poderemos compartilhar suas informações em situações especiais, tais como, por requerimento judicial ou obrigação legal, ou quando necessário para proteger a segurança, propriedade ou direitos do Clube Life, nossos associados, nossos associados ou de terceiros. Alguns exemplos destas situações são:</p>
                            <ul style="list-style-type:circle; margin-left: 40px">
                                <li>Proteção da integridade física e saúde de nossos associados;</li>
                                <li>Encaminhamento de crimes cometidos dentro de propriedades do Clube Life;</li>
                                <li>Investigação e encaminhamento de fraudes;</li>
                                <li>Colaboração com mandados de busca e outras formas legais de requisição de informações;</li>
                                <li>Colaboração com órgãos investigativos em caso de suspeita de violação de leis ou contratos.</li>
                            </ul>                                   
                        </li>
                        <li>
                            <p></p>
                            <strong>Transferências entre empresas</strong>
                            <p>No caso de operações societárias (fusão, aquisição ou venda), informações pessoais poderão ser compartilhadas com o sucessor da companhia. Nestas situações, utilizaremos os melhores esforços para garantir que este sucessor cumpra esta política integralmente no manuseio de suas informações pessoais.</p>
                            <p></p>
                        </li>
                        <li>
                            <strong>Com seu consentimento</strong>
                            <p>Em qualquer circunstância que não descrita acima, nós iremos solicitar seu consentimento antes de compartilhar informações pessoais para fora do Clube Life e você deverá ter um retorno financeiro sobre esta transferência de dados.</p>
                            <p></p>
                        </li>
                    </ul>
                    <p><b>Como podemos entrar em contato com você?</b></p>
                    <p>Através dos dados disponibilizados por você, o Clube Life poderá enviar comunicados, mensagens publicitárias, informativos, ofertas e concursos. Os meios de comunicação utilizados para que os contatos aconteçam incluem mensagens por e-mail, SMS, MMS, mala-direta, aplicativos de comunicação (como, por exemplo, o WhatsApp), entre outros recursos. Mas evitaremos isso ao máximo.</p>
                    <p><b>Como nós protegemos suas informações pessoais?</b></p>
                    <p>Nós reconhecemos a importância de manter a segurança das informações pessoais de nossos associados, assim, nós nos comprometemos em fazer todo o possível para garantir a segurança adequada de nossos servidores onde suas informações pessoais ficam armazenadas.</p>
                    <p>Nós possuímos um time focado na segurança da informação, bem como adotamos medidas como controle de acesso, políticas e tecnologias de segurança da informação e outros procedimentos que auxiliam no correto manuseio de informações.</p>
                    <p><b>Quais são suas escolhas?</b></p>
                    <p>Por regra, nossas comunicações eletrônicas oferecem a você a escolha de parar de recebê-las.</p>
                    <p>Caso queira suspender o recebimento de outro tipo de publicidade ou comunicação que o Clube Life esteja direcionando a você, entre em contato com o nosso Suporte pelo email suporte@clube.life.</p>
                    <p><b>Mudanças de Política</b></p>
                    <p>Pelo fato de que a nossa Política de Privacidade não firma acordo contratual com associados, parceiros e demais indivíduos que venham a visitar o nosso site, os termos descritos aqui podem sofrer alteração sem a necessidade de aviso prévio. Por este motivo, no caso de dúvidas, é aconselhável que as regras sejam lidas sempre que o site for acessado.</p>
                    <p><b>Como você acessa e atualiza suas informações pessoais?</b></p>
                    <p>Nós adotamos medidas para manter suas informações pessoais atualizadas e completas. Você também pode entrar em contato conosco para acessar ou atualizar suas informações pessoais através do nosso sistema ou do Suporte, este último pelo e-mail suporte@clue.life. Ao entrar em contato, por favor, informe seus dados atuais e quais informações tem interesse em acessar ou atualizar.</p>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</div>
</body>

</html>